<h1 class="centered-heading">CELEBRITIES</h1>
<div class="celeb-list">
  {{#each celeb}}
    <div class="celeb-container">
      <h2>{{this.name}}</h2>
      <p>{{this.occupation}}</p>
      <p>{{this.catchPhrase}}</p>
    </div>
  {{/each}}
</div>

<a href="/" class="centered-link">HOME</a>