<h1 style="text-align: center;">CELEBRITIES</h1>
<div>
  {{#each celeb}}
    <div class="celeb-container">
      <h2>{{this.name}}</h2>
      <p>{{this.occupation}}</p>
      <p>{{this.catchPhrase}}</p>
    </div>
  {{/each}}
</div>

<a href="/" style="text-align: center;">HOME</a>