<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="link-list">
    <a href="/celebrities/create"> List a new Celebrity </a>
    <a href="/celebrities"> Celebrity list </a>
    <a href="/movies/create"> List a new Movie </a>
    <a href="/movies"> Movie List </a>
</div>