<h1 style="text-align: center;">Movies</h1>
<div>
  {{#each movies}}
    <div class="celeb-container">
      <a href="/movies/{{this.id}}" id="movieId"><h2>{{this.title}}</h2></a>
    </div>
  {{/each}}
</div>

<a href="/" style="text-align: center;">HOME</a>